<div id="wrapper">
  <div id="header">
    <h1 class="page-heading">Music GCSE Vocab</h1>
  </div>

  <div id="content">
    <div class="paddle">
      <button mat-button class="paddle-button" (click)="paddlePushed('down')"><</button>
    </div>
    <div id="centre-content">
      <app-card-view></app-card-view>
    </div>
    <div class="paddle">
      <button mat-button class="paddle-button" (click)="paddlePushed('up')">></button>
    </div>
  </div>
  <div class="flipper">
    <button mat-button class="flip-button" (click)="paddlePushed('flip')">flip</button>
  </div>

  <div id="footer">
    <p class="footer-text">Music GCSE vocab was created by <a style="text-decoration: none; color:whitesmoke" href="https://hwilson.dev">hwilson.dev</a></p>
  </div>
</div>
