.card {
  height: 80%;
  width: 55%;
  overflow-y: auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card-description {
  font-family: "Open Sans", sans-serif;
  font-size: 3vw;
}

.card-title {
  font-family: "Open Sans", sans-serif;
  font-size: 4.5vw;
}
